@use "../styles/constants.scss";

.container {
    // height: 100vh;
    display: grid;
    grid-template-rows: 3em 1fr;
    position: relative;
    color: white;

    .horizontal_layout {
        // height: 100%;
        // min-height: calc(100% - constants.$header-height);

        // min-height: 100vh;
        // min-height: -webkit-fill-available;
        // height: 100%;
        height: calc(100% - 3rem);

        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        // top: constants.$header-height;
        width: 100vw;

        position: fixed;
        top: constants.$header-height;
        left: 0;

        // On mobile, always show the sidebar
        @media screen and (min-width: 960px) {
            display: grid;
            grid-template-columns: auto 1fr;
        }
    }
}