@use "./colors.scss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5em;
}

html {
    min-height: 100vh;
    // Required on mobile so that the page fits in the
    // entire viewport even with the address bar etc. are visible.
    min-height: -webkit-fill-available;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: colors.$table-bg;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

pre {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

input {
    width: 100%;
}

.g-unstyled {
    border: none;
    background: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}


input[type=checkbox] {
    cursor: pointer;
    min-width: .9rem;
    min-height: .9rem;
}