CONNECTION_STRING=mongodb://test-username:test-password@localhost:27017/
DB_NAME=SFFCompare
DB_COLLECTION_CASES=Cases
DB_COLLECTION_COLUMNS=Columns
DB_COLLECTION_LOGS=Logs
DEVELOPMENT=false
GOOGLE_SHEET_ID=1AddRvGWJ_f4B6UC7_IftDiVudVc8CJ8sxLUqlxVsCz4